

.countdown{
background-color: #351C75;
position: absolute;
top: 6px;
right: 6px;
top: 10%;
border-radius: 10px;
color: white;
padding: 3px;
}

.scores{
    background-color: #351C75;
    position: absolute;
    top: 6px;
    left: 6px;
    top: 10%;
    border-radius: 10px;
    color: white;
    padding: 3px;
}

.display-content{
    position: relative;
}

h2,h3 { 
    text-align: center;    
}

p {
    text-align: center;
}
body {
    margin-top: 100px;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
}

ol{
    display: flexbox;
}

li {
    background: #351C75;
    color: white;
    margin: 5px;
    border-radius:10px;
    align-items: center;
    display: flex;
    /*width: 80%;*/
    height: 2em;
    cursor: pointer;
}

/*
li:hover {
    background-color: aquamarine;
}
*/

/*#startBtn */
#startBtn  {
    background-color: #351C75;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

  }
  
  
  #registerBtn, #backBtn, #resetBtn {
    background-color: #351C75;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  
   #startBtn:hover , #registerBtn:hover, #backBtn:hover, #resetBtn:hover, li:hover  {
    background-color: #BD60E7;
    
  }